%section.masthead
  %img.logo(src="assets/logo.png")
    %p.home-login-link
      MapMyFitness
      = link_to image_tag("stinger.png") + "Login", login_path, :class => "login-stinger"
%section.home-container
  %img.home-image(src="/assets/trail-run.png" alt="runner")
    %article.headline-container
      %h1.headline Your Online Resource for Healthy Competition Amongst Friends
      %h2.sub-head Login in today, authorize your Map My Run account, invite friends and start comparing stats. Runline makes it easy to train and compete with others regardless of schedule or location.
      = link_to "Login with MapMyFitness", login_path, :method => :get, :class => "login-button"

  %section.sub-head-container
    %div.sub-head-media
      %p.media-number 01
      %h3.media-title Run 
      %p.media-detail Log runs as you normally would using your Map My Run Account. 

    %div.sub-head-media
      %p.media-number 02
      %h3.media-title Connect 
      %p.media-detail Invite Friends to connect with you via Runline and share their stats.

    %div.sub-head-media
      %p.media-number 03
      %h3.media-title Compete
      %p.media-detail Compare your stats with friends and push each other to improve.
