%section.masthead
  %img.logo(src="assets/logo.png")
    %p.home-login-link
      MapMyFitness
      %a.login-link{:href => '/login'} Login 
%section.home-container
  %img.home-image(src="/assets/trail-run.png" alt="runner")
    %article.headline-container
      %h1.headline Your Online Resource to Train and Compete with Friends 
      %h2.sub-head Login with your Map My Run account and start inviting friends to share workouts. Runline will track your stats and compare your progress with friends. Now you can train and compete with friends regardless of schedule or location.
      = link_to "Login with MapMyFitness", login_path, :method => :get, :class => "login-button"

  %section.sub-head-container
    %div.sub-head-media
      %p.media-number 01
      %h3.media-title Run 
      %p.media-detail Log runs as you normally would using your Map My Run Account. 

    %div.sub-head-media
      %p.media-number 02
      %h3.media-title Connect 
      %p.media-detail Login into Runline and connect with Friends.

    %div.sub-head-media
      %p.media-number 03
      %h3.media-title Compete
      %p.media-detail Compare your stats with friends and push each other to improve.
