%section.content-section
  %h1.headline Welcome to Runline
  %h2.body-copy Create virtual running groups and compete with friends.

  %ul.homepage-panel
    %li.content-box
      .inner-box
        <img alt="Grid_sig_veggie_burrito" height="150" src="http://d2po17o2y4vue7.cloudfront.net/uploads/menu_group/image/3/grid_SIG_VEGGIE_BURRITO.png" width="200">

    %li.content-box
      .inner-box
        <img alt="Grid_sig_veggie_burrito" height="150" src="http://d2po17o2y4vue7.cloudfront.net/uploads/menu_group/image/3/grid_SIG_VEGGIE_BURRITO.png" width="200">

    %li.content-box
      .inner-box
        <img alt="Grid_sig_veggie_burrito" height="150" src="http://d2po17o2y4vue7.cloudfront.net/uploads/menu_group/image/3/grid_SIG_VEGGIE_BURRITO.png" width="200">

  %a{ :href => "/login"} Login with MapMyFitness

