.friend-buttons
  display: inline-block
  float: right

.compare-link
  color: #00AEEF

.remove-link
  color: #939598

.update-link
  color: #939598

.submit-btn
  color: #00AEEF

.approve-link
  color: #939598

.reject-link
  color: #00AEEF

