$blue: #00AEEF
$white: #FFFFFF
$dark-grey: #231F20
$light-grey: #BCBEC0
$medium-grey: #939598

.friend-buttons
  display: inline-block
  float: right

.compare-link
  color: $blue 

.remove-link
  color: $light-grey 

.update-link
  color: $medium-grey 

.submit-btn
  color: $medium-grey 

.approve-link
  color: $blue 

.reject-link
  color: $light-grey 

.cancel-invite
  color: $light-grey
  float: right

