.stat-container

.dash-block
  list-style: none
  display: inline-block
  margin-right: 5%
  padding: 4%

.stat-title
  font-size: 1.5em
  color: #939598
  margin-top: 6%

.stat-data
  font-size: 5em
  color: #00AEEF
  font-weight: 100

.compare-stat-container

.compare-stat-element

.compare-stat-element
  list-style: none

.mi-notation
  color: #939598
  margin-top: -20%
  font-size: 1em
  margin-left: 100%

