.stat-container
  text-align: center

.distance-block
  list-style: none
  display: inline-block
  margin-right: 5%
  background-color: red
  border-radius: 50%
  padding: 4%

.pace-block
  list-style: none
  display: inline-block
  margin-right: 5%
  background-color: yellow
  border-radius: 50%
  padding: 4%

.longest-block
  list-style: none
  display: inline-block
  margin-right: 5%
  background-color: green
  border-radius: 50%
  padding: 4%

.stat-title
  font-size: 1.5em

.stat-data
  font-size: 1em

.compare-stat-container
  display: inline-block

.compare-stat-element
  float: left

.stat-element
  list-style: none
