.footer
  border-top-style: solid
  border-top-width: 1px
  border-top-color: #949597
  margin-top: 10%
  float: left
  width: 100%

.footer-link-container
  text-align: center
  margin-right: 25%
  margin-left: 27%

.footer-links 
  float: left
  padding: 2%

.footer a
  color: #6D6E71
  &:hover
    color: #1DAFEC

.gh-icon
  float: left
  margin-top: 2.5%

