$blue: #00AEEF
$white: #FFFFFF
$dark-grey: #231F20
$light-grey: #BCBEC0
$medium-grey: #939598

.footer
  border-top-style: solid
  border-top-width: 1px
  border-top-color: $medium-grey 
  float: left
  width: 100%

.footer-link-container
  text-align: center
  margin-right: 25%
  margin-left: 27%
  margin-top: 1%

.footer-links 
  float: left
  padding: 3%

.footer a
  color: $medium-grey 
  &:hover
    color: $blue 

.gh-icon
  float: left
  margin-top: 2.5%

