$blue: #00AEEF
$white: #FFFFFF
$dark-grey: #231F20
$light-grey: #BCBEC0
$medium-grey: #939598

.home-image
  width: 100%
  background: url(images/trail-run.jpg) no-repeat center center

.headline-container
  position: relative
  margin-top: -32%
  float: left
  text-align: center
  color: $white 
  padding-left: 20%
  padding-right: 20%

.headline
  font-size: 3em
  margin-bottom: 2%

.sub-head
  font-size: 1.25em
  margin-bottom: 5%

.login-button
  background-color: $blue 
  color: white 
  padding: 1.5%

.home-login-link
  margin-right: 7%
  color: $light-grey 

.login-stinger img
  float: right
  padding-left: 12px
  padding-top: 4px

a.login-stinger
  color: $blue

.sub-head-container
  text-align: center
  margin-left: 15%

.sub-head-media
  float: left
  max-width: 20%
  margin-right: 10%
  margin-top: 5%

.media-number
  font-size: 2.5em
  font-weight: 100
  color: $blue 
  display: inline-block

.media-title
  display: inline-block
  color: $medium-grey 
  font-size: 2em
  padding-left: 4%

.media-detail
  color: #6D6E71
  margin-top: 5%

