body
  background-color: #FFFFFF
  margin: 0 auto
  max-width: 1440px
  padding: 0
  overflow: visible
  font-family: 'Raleway', sans-serif

a
  text-decoration: none

.content-section
  margin-right: 6%
  margin-left: 6%
  margin-top: 5%
  min-height: 500px

.body-copy
  font-size: 1.5em
  font-weight: 100
  color: #00AEEF

//.no-run-container
//  margin-top: 46%
//
//.no-run-message
//  text-align: center
//  position: relative
//  margin-top: -28%
//  font-size: 4em
//  color: #00AEEF
//
