body
  background-color: #FFFFFF
  font-family: 'Raleway', Arial, sans-serif
  margin: 0

a
  text-decoration: none

a:link
  color: #FC9D06

.container
  margin: 0 auto
  width: 100%
  padding: 0
  overflow: hidden

.home-page-welcome

.headline

.body-copy

.content-section
  display: inline-block
  margin-left: 2%
  margin-right: 2%
  min-height: 600px
  width: 100%
