$blue: #00AEEF
$white: #FFFFFF
$dark-grey: #231F20
$light-grey: #BCBEC0
$medium-grey: #939598

body
  background-color: white 
  margin: 0 auto
  max-width: 1440px
  padding: 0
  overflow: visible
  font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif
  font-weight: 100

a
  text-decoration: none

.content-section
  margin-right: 6%
  margin-left: 6%
  margin-top: 5%

.bullet
  margin-bottom: 2%

.bullet-line
  font-size: 1em
  color: $medium-grey
  font-weight: 200
  padding-bottom: 1%
  padding-left: 2%

.bullet-num
  font-size: 1em
  font-weight: 200
  color: $blue
  float: left
  padding-bottom: 1%

.no-run-container
  margin-bottom: 15%

.flash
  color: $blue
  float: left
  margin-top: 1.5em
  margin-left: 6%

dl, dd, h1, h2, h3, th, p
  margin: 0
  font-weight: 100

ul
  padding: 0
  margin: 0


