.main-nav
  display: inline-block
  margin-bottom: 5%
  width: 100%
  padding-left: 25%
  paddding-right: 25%

.semantic-nav
  list-style-type: none
  margin-right: 30%

.nav-list
  float: left
  padding: 4%

li a
  color: black 
  &:hover
    color: #FF9900
