.main-nav
  display: inline-block
  margin-bottom: 5%
  width: 100%

.semantic-nav
  list-style-type: none
  padding-left: 2%

li
  float: left 
  padding-right: 7%

li a
  color: black 
  &:hover
    color: #FF9900
