.semantic-nav
  list-style-type: none
  float: right
  margin-top: -1.5%
  margin-right: 3%
  width: 42%

.nav-list
  display: inline-block
  padding-right: 5%
  
.nav-links
  color: #6D6E71
  &:hover
    color: #1DAFEC

