.table-main
  border-collapse: collapse
  border-spacing: 0
  margin-bottom: 10%
  width: 60%

.table-title
  margin-bottom: 5%

.caption
  border-bottom: 1px solid #043484
  font-size: 1em
  font-weight: bold
  text-align: left
  margin-bottom: 0.5em
  padding: .5%

tr
  border-bottom: 1px dotted #A5A5A5

tr:first-child
  text-align: left

