.table-main
  border-collapse: collapse
  border-spacing: 0
  margin-bottom: 10%
  width: 100%

.table-title
  color: #939598
  margin-top: 5%

.caption
  color: #939598
  font-size: 1em
  font-weight: bold
  text-align: left
  padding: .5%

.action-link-container-compare

.action-link-container-approve

tr
  border-bottom: 1px solid #939598

td 
  padding: .5%
  color: #939598




