%head
  %p Your friend #{@requestor} would like to run with you on Runline!

  %p Runline is your online resource to train and compete with friends.  Log in with MapMyFitness or create an account now!



  / <a class="login-button" data-method="get" href="/login">Login with MapMyFitness</a>
