%section.content-section
  %div.no-run-container
    %p.table-title You have no runs. Get off your butt!
    = link_to "Update my Runs from MapMyFitness", fetch_runs_path, :method => :get, :class => "login-button"
