<html>
  <body>
    <h1>Email us at luke@lukemartinez.com for your Running Stats!</h1>
    <%= link_to "Logout", logout_path, :id => "logout"  %>
    <p><%= @user.id %></p>
    <p><%= @user.token %></p>
    <p><%= @user.secret %></p>
  </body>
</html>
