%section.content-section
  %table{:cellpadding => 5, :cellspacing => 5}
    %thead
      %tr
        %th Total miles in last 14 days
        %th Fastest pace
        %th Miles run during last activity
        %tbody
          %tr
            %td 10.2 mi
            %td 4 mph
            %td 17 Jan 2014

  %table{:cellpadding => 5, :cellspacing => 5}
    %thead
      %tr
        %th Run
        %th Distance
        %th Run Time
        %th Workout Datetime
        %tbody
          %tr
            %td Sprints
            %td 1.2 mi
            %td 34 min
            %td 17 Jan 2014
          %tr
            %td 10k Train
            %td 5 mi
            %td 60 min
            %td 16 Jan 2014
          %tr
            %td Zombie Run 
            %td 50 mi
            %td 600 min
            %td 14 Jan 2014

