<html>
  <body>
    <div class="page-header">
      <h1>RUN! RUN! RUN! <small><%= User %> personal stats</small></h1>
      <a class="btn btn-warning friends" href="/friendships" method="index">My Friends</a>
    </div>

    <div class="bs-docs-example">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Run</th>
            <th>Distance</th>
            <th>Run Time</th>
            <th>Workout Datetime</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>morning jog</td>
            <td>1.2 mi</td>
            <td>34 min</td>
            <td>14 January 2014</td>
          </tr>
          <tr>
            <td>10k training</td>
            <td>5 mi</td>
            <td>60 min</td>
            <td>16 January 2014</td>
          </tr>
          <tr>
            <td>10 training</td>
            <td>4 mi</td>
            <td>52 min</td>
            <td>17 January 2014</td>
          </tr>
        </tbody>
      </table>
    </div>

    <a class="btn btn-warning logout" href="/logout">Logout</a>
  </body>
</html>


