// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-header {
  margin-top:90px;
  padding-left:20px;
}

.bs-docs-example {
  padding-right:150px;
  padding-left:150px;
}
