%footer.footer
  %section.footer-link-container
    %p.footer-links #{link_to "Billy Griffin", "https://github.com/billy22g?source=cc", :target => "blank"}
    %p.footer-links #{link_to "Luke Martinez", "https://github.com/LukeMartinez?source=cc", :target => "blank"}
    %p.footer-links #{link_to "Lauren Spath Luhring", "https://github.com/edatrix?source=cc", :target => "blank"}
    %p.footer-links #{link_to "Bree Thomas", "https://github.com/breethomas", :target => "blank"}
