%nav.main-nav
  %ul.semantic-nav
    %li
      %a{:href => '/dashboard'} My Dash
    %li
      %a{:href => '/friendships'} My Friends
    %li
      %a{:href => '/friendships/requests'} Invite Friends 
    %li
      %a{ :href => "/profile"} Profile
    %li
      %a{ :href => "/logout"} Logout

