%nav.main-nav
  %ul.semantic-nav
    %li
      %a{:href => '/dashboard'} My Dash
    %li
      %a{:href => '/friendships'} My Friends
    %li
      %a{:href => '/friendships/requests'} Friend Requests
    %li
      %a{ :href => "/logout"} Logout

