%section.masthead
  = image_tag("logo.png", :class => "logo")
  %nav
    %ul.semantic-nav
      %li.nav-list
        %a.nav-links{:href => '/dashboard'} My Dash
      %li.nav-list
        %a.nav-links{:href => '/friendships'} My Friends
      %li.nav-list
        %a.nav-links{:href => '/friendships/requests'} Invite Friends 
      %li.nav-list
        %a.nav-links{ :href => "/profile"} Profile
      %li.nav-list
        %a.nav-links{ :href => "/logout"} Logout

